#pagedetail {
  padding: 80px 0; }
  #pagedetail .page-image {
    display: block;
    margin: 10px 0 30px 0;
    width: 100%;
    height: auto; }
  #pagedetail #pagelinks {
    background: #13588e;
    padding: 0px;
    margin-top: 30px; }
    #pagedetail #pagelinks p {
      color: white;
      margin: 20px; }
    #pagedetail #pagelinks h2 {
      font-family: 'VAG Rounded Regular';
      color: white;
      padding: 20px;
      line-height: 130%; }
    #pagedetail #pagelinks ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      #pagedetail #pagelinks ul li {
        margin: 0 0 1px 0; }
        #pagedetail #pagelinks ul li a {
          display: block;
          background: rgba(255, 255, 255, 0.2);
          padding: 10px 20px;
          color: white; }
          #pagedetail #pagelinks ul li a:hover, #pagedetail #pagelinks ul li a.selected {
            text-decoration: none;
            background: #57b4df; }
