form fieldset {
  border: none;
  background: #f8f8f8;
  max-width: 360px;
  margin: 0 auto; }
  form fieldset ul {
    list-style: none;
    margin: 0; }
    form fieldset ul li {
      margin: 20px 0;
      width: 100%; }
  form fieldset .button {
    float: right; }
  form fieldset .forgot {
    float: left;
    font-size: 11px;
    margin: 10px 0; }

div.account {
  border: none;
  background: #f8f8f8;
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; }
