.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px; }
  @media (max-width: 767px) {
    .grid {
      display: block; } }

#project-intro {
  position: relative; }
  #project-intro img {
    display: block;
    width: 100%;
    height: auto; }
  #project-intro #intro-text {
    position: absolute;
    bottom: 0px;
    padding: 50px 0;
    color: white;
    width: 100%;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4)); }
    @media (max-width: 767px) {
      #project-intro #intro-text {
        position: static;
        color: #333;
        background: none;
        padding: 30px 5% 0 5%; } }
  #project-intro .breadcrumb a {
    color: #f8f8f8; }
    @media (max-width: 767px) {
      #project-intro .breadcrumb a {
        color: #111113; } }
  #project-intro .breadcrumb span, #project-intro .breadcrumb a::after {
    color: #fff; }
    @media (max-width: 767px) {
      #project-intro .breadcrumb span, #project-intro .breadcrumb a::after {
        color: rgba(17, 17, 19, 0.55); } }

#project-body {
  padding: 0;
  margin-top: 50px; }
  @media (max-width: 767px) {
    #project-body {
      margin-top: 0; } }
  #project-body img {
    display: block;
    width: 100%;
    height: auto; }
  #project-body #project-summary, #project-body #project-description {
    padding: 20px; }
  #project-body .detail-1, #project-body .detail-2 {
    margin-bottom: 1px; }
  #project-body .flexslider {
    border: none;
    border-radius: 0;
    max-height: 800px;
    height: auto;
    margin: 0;
    overflow: hidden; }
    #project-body .flexslider .slides li {
      max-height: 800px;
      height: auto;
      position: relative; }

#tags .tag {
  display: inline-block;
  border-radius: 20px;
  background: #003755;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 15px; }

#portfolio-tag-index, #portfolio-piece-index {
  margin: 30px 0;
  list-style: none; }
  #portfolio-tag-index li, #portfolio-piece-index li {
    max-width: 25%; }
    #portfolio-tag-index li a, #portfolio-piece-index li a {
      display: block;
      position: relative;
      transition: all 0.5s ease;
      border-right: 1px solid white;
      border-bottom: 1px solid white; }
      #portfolio-tag-index li a:hover img, #portfolio-piece-index li a:hover img {
        filter: brightness(90%) grayscale(0%); }
      #portfolio-tag-index li a:hover h4, #portfolio-piece-index li a:hover h4 {
        color: #e9cb1b; }
      #portfolio-tag-index li a img, #portfolio-piece-index li a img {
        display: block;
        width: 100%;
        height: auto;
        filter: brightness(50%) grayscale(100%);
        transition: all 0.5s ease; }
      #portfolio-tag-index li a h4, #portfolio-piece-index li a h4 {
        position: absolute;
        top: 50%;
        margin: -10px 5% 0 5%;
        width: 90%;
        text-align: center;
        color: white;
        transition: all 0.5s ease; }
